{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
            <h2 class="section-head">{{ item.name }}</h2>
            <section>
                {{ item.description }}
            </section>
        </div>
    </div>

    {% if session.has_key('user_id') and session['user_id'] == item.user_id %}
        <div class="row" style="margin-top: 20px;">
            <div class="col col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
                <a href="{{ url_for('item_delete', catalog_id=item.catalog.id, item_id=item.id) }}">Delete</a> |
                <a href="{{ url_for('item_edit', catalog_id=item.catalog.id, item_id=item.id) }}">Edit</a>
            </div>
        </div>
    {% endif %}
{% endblock %}